<section>
  <div class="titulo-vendidas">
    <h1> MAIS VENDIDAS</h1>
  </div>

  <div class="velas">
    <div class="img-velas">
      <img src="imagens/imagem.4.jpg" width="250px" height="300px"/>
      <p> Make a Wish </p>
    </div>
    <div class="img-velas">
      <img src="imagens/imagem.5.jpg" width="250px" height="300px"/>
      <p> Capuccino </p>
    </div>
    <div class="img-velas">
      <img src="imagens/imagem.6.jpg" width="250px" height="300px"/>
      <p> Vanilla </p>
    </div>
    <div class="img-velas">
      <img src="imagens/imagem.7.jpg" width="250px" height="300px"/>
      <p> Alecrim </p>
    </div>
  </div>

</section>