<section>

  <div class="titulo-sobre" id="sobre">
    <h1> Sobre Nós</h1>
  </div>
  <div class="sobre">
    <img src="imagens/imagem.1.jpg" class="img-sobre">
    <div>
      <p>Em 2020 na nossa cozinha de casa, nascia o sonho de criar velas para uso e presentes para amigos. </br>
        O sonho cresceu, ocupando todo nosso quintal e conforme novos clientes iam surgindo, logo partimos para
        um pequeno galpão. </br>
        Muitos desafios foram vencidos com resiliência, nossos clientes fizeram toda a diferença, nos motivando
        a superar os desafios e
        continuar criando produtos e inovando técnicas de produção, para atender com rapidez e qualidade grandes
        projetos. </br>
        Focamos em fazer nosso trabalho de forma sustentável e com muito amor.</p>
    </div>
  </div>

</section>