<section>
  <div class="titulo-produtos">
    <h1> OBTENHA OS MELHORES PRODUTOS</h1>
  </div>
  <div class="melhores-produtos">
    <div class="produto">
      <a href="./catalogo.html#acessorios">
        <img src="imagens/imagem.8.jpg" class="img-prod" width="100px" height="100px">
        <p> Vale Presente </p></a>
    </div>
    <div class="produto">
      <a href="./catalogo.html#acessorios">
        <img src="imagens/imagem.9.jpg" class="img-prod" width="100px" height="100px">
        <p> Vela Bubble </p></a>
    </div>
    <div class="produto">
      <a href="./catalogo.html#acessorios">
        <img src="imagens/imagem.10.jpg" class="img-prod" width="100px" height="100px">
        <p> Fósforos Eco </p></a>
    </div>
  </div>
</section>