<footer>
  <div class="rodape">
    <div class="dtl-rodape" id="coleçoes"> Coleções
      <a href="./catalogo.html#"><li> Flork </li></a>
      <a href="./catalogo.html#limitada"><li> Limitada </li></a>
      <a href="./catalogo.html#literaria"><li> Literária </li></a>
      <a href="./catalogo.html#mini"><li> Mini </li></a>
      <a href="./catalogo.html#minimalista"><li> Minimalista </li></a>
      <a href="./catalogo.html#travel"><li> Travel </li></a>
    </div>

    <div class="dtl-rodape"> Acessórios
      <a href="./catalogo.html#caixadepresente"><li> Caixa de presente </a></li>
      <a href="./catalogo.html#veladecorativabubble"><li> Vela decorativa bubble</a></li>
      <a href="./catalogo.html#fosforosecologicos"><li> Fósforos ecológicos</a></li>
    </div>
    <div id="contato"> Contato
      <div class="img-social">
        <a href="https://shopee.com.br/ayunivelas#product_list"><img src="imagens/shoppee.png" width="30px" height="30px"></a>
        <a href="https://imginn.com/ayunivelas/"><img src="imagens/instagram.png" width="35px" height="35px"></a>
        <a href="https://web.whatsapp.com/send?phone=5521979562636"><img src="imagens/wapp.png" width="35px" height="35px"></a>
      </div>
    </div>

  </div>
</footer>